@import "../../StyledGlobalColor.css";

.top-bar-container {
    z-index: 100;
    width: 100vw;
    position: fixed;
    height: 90px;
    display: flex;
    background: rgb(6, 6, 6);
}


@keyframes lightTopBar {
    0% {
        margin-left: 5rem;
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    15% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    25% {
        margin-left: 70rem;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    50% {
        margin-left: 5rem;
        opacity: 0;
    }
}


.top-bar {
    height: 100%;
    display: flex;
}


.nav-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5vw;
    font-weight: 600;

}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    gap:2vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
    margin-top: -0.1vw;
    
}

.nav-button {
    
    border-radius: 3rem;
    color: rgb(252, 249, 249);
    display: flex;
    align-items: center;
    transition: 1s all ease;
    padding: 1.5rem 35px;
    z-index: 10;
    height: 1vw;
    border-width: thin;
    border-style: solid;
    border-color: white;
    animation: lightBTN 10s;
}

@keyframes lightBTN {
    0% {
        border-color: rgb(8, 8, 8);
        color: black;
    }

    90% {
        border-color: rgb(8, 8, 8);
        color: black;
    }
    100% {
        border-color: white ;
        color: rgb(252, 249, 249);
    }
}

.nav-button:hover {
    box-shadow: 0 0 40px 40px rgb(238, 236, 236,0.5) inset;
    color: rgb(8, 8, 8);
}
.nav-button:hover:active {
background-color: rgb(252, 249, 249);
color:blue;
}



.nav-menu-container,
.hide-nav-menu-container {
    visibility: visible;
    height: 100%;
    width: 100vw;
}


@media (max-width: 1200px) {
    .top-bar-container {
        width: 100%;
    }

    .top-bar {
        height: 100%;
    }

    .nav-button {
        
        height: 1vw;
    }

    .cart-container {
        margin-left: 1vw;
    }

}

@media (max-width: 730px) {
 .nav-button {
    font-size: 2vw;
    border-radius: 3rem;
    color: rgb(252, 249, 249);
    display: flex;
    align-items: center;
    transition: 1s all ease;
    padding: 5vw 6vw;
    z-index: 10;
    height: 1vw;
    border-width: thin;
    border-style: solid;
    border-color: white;
    animation: lightBTN 10s;
}   
}

