@import "../../StyledGlobalColor.css";

#productsPage {
    padding-top: 50px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #2c2b2b;
    position: relative;

}

.cemiterio-background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.3;
    z-index: 0;
}

.body-products{
    display: flex;
    overflow: hidden;
    z-index: 2;
}

.box-menu-products-sector-1 {
    margin-top: 90px;
    margin-left: 15px;
    width: 21vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle-menu-products-sector-1 {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(31, 30, 30,0.7);
    color: white;
    font-weight: 600;
    transform: rotate(5deg);
    animation: crash0 5s;
}

@keyframes crash0 {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.box-category-menu-products-sector-1 {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.category-sector-1 {
    padding: 1vw 0;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 21vw;
    transition: 0.5s ;
    color: white;
    border-bottom-width:thin;
    border-bottom-style: solid;
    border-bottom-color: var(--border);
}

.category-sector-1:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255,0.3);
    color: white;
}

.category-efect1{
    transform: rotate(-5deg);
    animation: crash1 6s ;
}

@keyframes crash1 {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.category-efect2{
    transform: rotate(4deg);
    animation: crash2 6.5s ;
}

@keyframes crash2 {
    0% {
        transform: rotate(0deg);
    }

    95% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(4deg);
    }
}

.category-efect3{
    transform: rotate(-3deg);
    animation: crash3 7.5s ;
}

@keyframes crash3 {
    0% {
        transform: rotate(0deg);
    }

    96% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}
.category-efect4{
    margin-top: 2rem;
    transform: rotate(10deg);
    animation: crash4 8.0s;
}

@keyframes crash4 {
    0% {
        transform: rotate(0deg);
        margin-top: 0rem;
    }

    96% {
        transform: rotate(0deg);
        margin-top: 0rem;
    }

    100% {
        transform: rotate(10deg);
        margin-top: 2rem;
    }
}

@keyframes crash {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

.zumbi{
    position: absolute;
    width: 8rem;
    z-index: 100;
    margin-left: 6rem;
    margin-top: -15rem;
    animation: zumbiwalk 12s ease-in;
    opacity: 0;
}

@keyframes zumbiwalk {
    0%{
        margin-top: -15rem;
        opacity: 1;
    }

    100%{
        margin-top: 35rem;
        opacity: 1;
    }
}


.products-sector-1 {
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-section-products-sector-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tittle-products-sector-1 {
    font-size: 2vw;
    font-weight: 600;
    color: white;
}

.container-products-sector-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2vw;
    gap: 8px;
}

.product-sector-1 {
    height: 400px;
    width: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(149, 142, 142,0.7);
    border-radius: 1.5rem;
    padding: 0 1rem;
    transition: 0.3s ease;
    
}

.product-sector-1:hover{
    box-shadow: rgb(147, 126, 238);
}

.detail-container-product-sector-1 {
    font-size: 20px;
    letter-spacing: 0.5px;
    color: white;
    padding-top: 1rem;
}

.image-product-sector-1 {
    height: 200px;
    width: 230px;
    border-radius: 1.5rem;
}

.btn-product-sector-1 {
    color: var(--grey-text);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1.8rem;
    border-width:thin;
    border-style: solid;
    border-color: var(--border);
    border-radius: 0.3rem;
}

.icon-add-car-btn-sector-1{
    width: 1.5rem;
    height: 1.5rem;
}

.btn-product-sector-1:hover {
    background-color: var(--blue-strong);
    color: white;
}


.modal {
    margin-top: 1rem;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out,
        opacity 0.25s ease-in-out;

}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.alert-container{
    display: flex;
    justify-content: flex-end;
}
.alert-add-product{
    background-color: var(--green-alert);
    justify-content: flex-end;
    padding: 2rem ;
    color: white;
    font-weight: 600;
    border-radius:0.5rem;
    margin-top: 2rem;
    margin-left: 65vw;
    opacity: 0;
    transition: 1s all ease;
    z-index: 50;
}

.alert-add-product-active{
    background-color: var(--green-alert);
    justify-content: flex-end;
    padding: 2rem ;
    color: white;
    font-weight: 600;
    border-radius:0.5rem;
    margin-top: 2rem;
    margin-left: 55vw;
    opacity: 1;
    transition: 1s all ease;
    z-index: 50;
}

.modal-content {
    background-color: rgb(68, 66, 66);
    border-radius: 5%;
    margin-top: -8rem;
}

.modal-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
}

.modal-box-images{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-box-details{
    width: 27rem;
    padding: 1rem 0rem 0rem 2rem;
    gap: 5rem;
    color:white;

}

.modal-detail-project{
    display: flex;
    font-size: 20px;
}

.text-detail-project{
    margin-bottom: 1rem;
}

.tecnologi-image{
    width: 3rem;
    background-color: rgba(192, 187, 187, 0.5);
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.tecnologi-images-container{
    gap: 2rem;
    margin-bottom: 1rem;
}

.modal-title-product {
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.modal-image-product-sector-1{
    height: 200px;
    width: 230px;
    border-radius: 0.5rem;
}
.detail-container-product-sector-1{
    margin-top: -1.5rem;
}

.modal-btn-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    border-width:thin;
    border-style: solid;
    border-color: var(--border);
    border-radius: 2rem;
    padding: 0.5rem 0;
}

.close-modal {
    margin-left: -2rem;
    margin-top: -1rem;
    font-weight: 800;
    font-size: 1.5rem;
    color: rgb(224, 219, 219);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2rem;
}

.close-modal:hover {
    font-weight: 800;
    color: rgb(123, 192, 214);
}

.modal-export-container{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.modal-icon{
    background-color: white;
    height: 1rem;
    cursor: pointer;
}

.modal-sub-icon{
    background-color: white;
    margin-left: -1.2vw;
    height: 1rem;
    cursor: pointer;
    opacity: 0;
}

.modal-sub-icon-1{
    background-color: white;
    margin-left: -1.17vw;
    height: 1rem;
    cursor: pointer;
    opacity: 0;
}

.modal-sub-icon-2{
    background-color: white;
    margin-left: -1.4vw;
    height: 1rem;
    cursor: pointer;
    opacity: 0;
}

.modal-sub-icon-3{
    background-color: white;
    margin-left: -1.55vw;
    height: 1rem;
    cursor: pointer;
    opacity: 0;
}

.modal-sub-icon:hover, .modal-sub-icon-2:hover, .modal-sub-icon-3:hover, .modal-sub-icon-1:hover{
        transition: 0.3s all ease;
        opacity: 100%;
}

.loader{
    border: 8px solid rgba(0, 0, 0,.1);
    height: 60px;
    width: 60px;
    border-left-color: var(--blue-strong);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {transform: rotate(360deg);}
}

@media (max-width: 1300px) {

    .container-products-sector-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  
}

@media (max-width: 900px) {

    #productsPage {
        display: flex;
        flex-direction: column;
        padding-top:10vw ;
    }

    .zumbi{
        position: absolute;
        width: 8rem;
        z-index: 100;
        margin-left:45vw;
        margin-top: -20vw;
        animation: zumbiwalk 14s ease-in;
        opacity: 0;
    }

    @keyframes zumbiwalk {
    0%{
        margin-top: -18rem;
        opacity: 1;
    }

    95%{
        opacity: 1;
    }

    100%{
        margin-top: 35rem;
        opacity: 0;
    }
}

    .box-menu-products-sector-1 {
        margin-top: 20px;
        width: 100%;
    }

    .products-sector-1 {
        padding: 50px 0;
    }

    .alert-add-product{
        margin-left: 60vw;
    }
    
    .alert-add-product-active{
        margin-left: 50vw;
    }

    .body-products{
        flex-direction: column;
    }

    .box-menu-products-sector-1 {
        margin-left: 0;
    }


}

@media (max-width: 720px) {
    .container-products-sector-1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .alert-add-product{
        margin-left: 55vw;
    }
    
    .alert-add-product-active{
        margin-left: 45vw;
    }

}